.checkout__ad {
    width: 95%;
    margin: 0;
    display: flex;
    height: 140px;
}
.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.checkout {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: max-content;
    padding: 20px;
}
.banner__container {
    display: flex;
}